@media screen and (max-width:600px){
*{
padding:0px;
margin:0px;
}
.header_main
{height:100px;
width:599px;
border-bottom:solid black 1px;
}
.header_fon
{
position:absolute;
z-index:0;
}

.section_main
{
font-family:"Georgia";
width:599px;
height:auto;
}
.footer_main
{
width:599px;
height:auto;
};

.header_body
{
height:150px;
width:599px;
background:rgb(255,247,225);
}
.Head_img
{
position:absolute;
margin-left:0px;
margin-top:5px;
z-index:2;
}
.Header_text
{
position:absolute;

color:rgb(51,153,103);
font-family:"Georgia";
width:50px;
margin-top:10px;
padding-left:100px;
font-size:350%;
z-index:2;
}
.Header_text_2
{
position:absolute;

color:rgb(52,103,171);
font-family:"Georgia";
width:420px;
margin-top:10px;
padding-left:145px;
font-size:350%;
z-index:2;
}

.text_body_head_right_1
{

font-size:100px;
margin-right:10px;
font-family:"Georgia";
float:right;
color:rgb(179,8,52);
}
.text_body_head_right_2
{

float:right;
font-size:56px;
}
.text_body_head_right_3
{
float:right;
font-size:28px;

}
.section_body_left
{
position:absolute;
margin:500px 1px;
width:595px;
position:left;
height:6340px;
background:white;
border:solid black 1px;
border-bottom:none;
z-index:1;
}
.img_head_fon
{

width:599px;
height:100px;
}
.section_body_right
{
border-top:none;
position:absolute;
margin:6840px 1px;
position:left;
width:595px;
height:6570px;
background:white;
border:solid black 1px;
z-index:1;
}
.text_body_head_left
{
font-size:20px;
color:orange;
}	
.section_body
{
margin-top:0px;
position:absolute;
height:13800px;
z-index:0;
width:599px;
background:rgb(255,247,225);
}
.section_body_head_left
{
position:absolute;
width:400px;
margin-left:50px;
margin-top:250px;
height:200px;
z-index:1;
background:rgb(255,247,225);
}		
.section_body_head_right
{
position:absolute;
width:599px;
float:left;
margin-left:0px;

height:250px;
background:rgb(255,247,225);
z-index:1;

}
/*.footer_body_inside
{
margin:0px 40px;
height:450px;
width:1140px;
	<section class="footer_body_inside">
	<img src="Task\Pick_47.jpg" width="560px"  align="left"/>
	<img src="Task\Pick_48.jpg" width="560px"  align="right" />
	</section>

	
	
	
}*/
.footer_body
{
font-family:"Georgia";
margin-top:13412px;
position:absolute;
height:550px;
width:599px;
background-color:rgb(182,222,246);
}
.text_body_red
{


width:560px;
height:50px;


background:rgb(179,8,52);

}
.text_body_white_text
{

font-size:16px;
color:white;
position:absolute;
margin-left:13px ;
margin:16px;
}
.text_body_pink
{

width:560px;
height:auto;

border:solid black 1px;
background:rgb(255,247,225);
}
.text_body_community
{
float:auto;
height:auto;
margin:15px ;
}

.text_red_text
{

color:rgb(179,8,52);
font-size:18px;
}
.footer_body_left{
position:absolute;
font-family:"Georgia";
width:550px;
margin-left:20px;
float:left;
height:300px;
background-color:rgb(182,222,246);
}

.footer_body_left_1
{

position:absolute;
margin-top:30px;
width:110px;
height:150px;
background-color:rgb(182,222,246);
}
.footer_body_left_2
{

position:absolute;
background-color:rgb(182,222,246);
margin-top:180px;
width:110px;
height:150px;
}
.footer_body_left_3
{
font-family:"Georgia";
font-size:14px;
margin-top:30px;
position:absolute;
margin-left:130px;
width:400px;
height:300px;
background-color:rgb(182,222,246);
float:right;
}
.footer_body_left_4
{
font-family:"Georgia";
position:absolute;
font-size:20px;
width:350px;
background-color:rgb(182,222,246);
}
.footer_body_right{
font-family:"Georgia";
position:absolute;
float:left;
margin-left:20px;
margin-top:340px;
width:550px;
height:200px;
background-color:rgb(182,222,246);
}
.footer_body_right_1
{

position:absolute;
margin-top:30px;
width:110px;
height:70px;
background-color:rgb(182,222,246);
}
.footer_body_right_3
{
font-family:"Georgia";
font-size:14px;
margin-top:30px;
position:absolute;
margin-left:130px;
width:400px;
height:150px;
background-color:rgb(182,222,246);
float:right;
}
}

@media screen and (min-width:600px){

.img_head_fon
{

width:1280px;
height:100px;
}
.header_main
{height:100px;
width:1280px;
border-bottom:solid black 1px;
}
.header_fon
{
position:absolute;
z-index:0;
}

.section_main
{
font-family:"Georgia";
width:1280px;
height:auto;
}
.footer_main
{
width:1280px;
height:auto;
};

.header_body
{
height:150px;
width:1280px;
background:rgb(255,247,225);
}
.Head_img
{
position:absolute;
margin-left:140px;
margin-top:5px;
z-index:2;
}
.Header_text
{
position:absolute;

color:rgb(51,153,103);
font-family:"Georgia";
width:50px;
margin-top:10px;
padding-left:250px;
font-size:450%;
z-index:2;
}
.Header_text_2
{
position:absolute;

color:rgb(52,103,171);
font-family:"Georgia";
width:700px;
margin-top:10px;
padding-left:305px;
font-size:450%;
z-index:2;
}

.text_body_head_right_1
{

font-size:110px;
font-family:"Georgia";
float:right;
color:rgb(179,8,52);
}
.text_body_head_right_2
{

float:right;
font-size:56px;
}
.text_body_head_right_3
{
float:right;
font-size:28px;

}
.section_body_left
{
position:absolute;
margin:250px 35px;
width:595px;
position:left;
height:7200px;
background:white;
border:solid black 1px;
z-index:1;
}
.section_body_right
{
position:absolute;
margin:250px 631px;
position:right;
width:595px;
height:7200px;
background:white;
border:solid black 1px;
z-index:1;
}
.text_body_head_left
{
font-size:20px;
color:orange;
}	
.section_body
{
margin-top:0px;
position:absolute;
height:7500px;
z-index:0;
width:1280px;
background:rgb(255,247,225);
}
.section_body_head_left
{
position:absolute;
width:450px;
margin-left:50px;
float:left;
height:250px;
z-index:1;
background:rgb(255,247,225);
}		
.section_body_head_right
{
position:absolute;
width:600px;
margin-left:600px;
height:250px;
background:rgb(255,247,225);
z-index:1;

}
/*.footer_body_inside
{
margin:0px 40px;
height:450px;
width:1140px;
	<section class="footer_body_inside">
	<img src="Task\Pick_47.jpg" width="560px"  align="left"/>
	<img src="Task\Pick_48.jpg" width="560px"  align="right" />
	</section>

	
	
	
}*/
.footer_body
{
font-family:"Georgia";
margin-top:7470px;
position:absolute;
height:350px;
width:1280px;
background-color:rgb(182,222,246);
}
.text_body_red
{


width:560px;
height:50px;


background:rgb(179,8,52);

}
.text_body_white_text
{

font-size:16px;
color:white;
position:absolute;
margin-left:13px ;
margin:16px;
}
.text_body_pink
{

width:560px;
height:auto;

border:solid black 1px;
background:rgb(255,247,225);
}
.text_body_community
{
float:auto;
height:auto;
margin:15px ;
}

.text_red_text
{

color:rgb(179,8,52);
font-size:18px;
}
.footer_body_left{
position:absolute;
font-family:"Georgia";
width:575px;
margin-left:50px;
float:left;
height:300px;
background-color:rgb(182,222,246);
}

.footer_body_left_1
{

position:absolute;
margin-top:30px;
width:110px;
height:150px;
background-color:rgb(182,222,246);
}
.footer_body_left_2
{

position:absolute;
background-color:rgb(182,222,246);
margin-top:180px;
width:110px;
height:150px;
}
.footer_body_left_3
{
font-family:"Georgia";
font-size:14px;
margin-top:30px;
position:absolute;
margin-left:130px;
width:400px;
height:300px;
background-color:rgb(182,222,246);
float:right;
}
.footer_body_left_4
{
font-family:"Georgia";
position:absolute;
font-size:20px;
width:350px;
background-color:rgb(182,222,246);
}
.footer_body_right{
font-family:"Georgia";
position:absolute;
float:right;
margin-left:650px;
width:575px;
height:300px;
background-color:rgb(182,222,246);
}
}
